body{
	margin: 0;
	height: 100%;
}
header {
	position: relative;
	top: 0;
	height: 50px;
	width: 100%;
	background-color: black;
}
section{
	height: calc(100% - 100px);
	overflow: auto;
	background-color: gray;
}
footer {
	position: fixed;
	bottom: 0px;
	height: 50px;
	width:100%;
	background-color: black;
	
}
/* Scroll style just for chrome */
::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb
{
  background-color: black;
  border-radius:20px;
}